{% load static %}
<div class="header-area header-transparrent">
    <div class="headder-top header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-2">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'homePage' %}"><img src="{% static 'assets/img/logo/headerlogo.png' %}"
                                alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="menu-wrapper">
                        <!-- Main-menu -->
                        <div class="main-menu">
                            <nav class="d-none d-lg-block">
                                <ul id="navigation">
                                    <li><a href="{% url 'homePage' %}">Home</a></li>
                                    <li><a href="{% url 'browsejobPage' %}">Browse Jobs </a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        <div class="header-btn d-none f-right d-lg-block">
                            {% if not user.is_authenticated %}
                                <a href="{% url 'seekerRegistration' %}" class="btn head-btn1">Register</a>
                                <a href="{% url 'seekerLogin' %}" class="btn head-btn2">Login</a>
                            {% else %}
                                <a href="{% url 'logout' %}" class="btn head-btn2">Logout</a>
                                <a href="{% url 'postedjob' %}" class="btn head-btn1">Profile</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>