{% extends 'master/master.html' %}

{% block content %}
{% load static %}

    <div class="container browsejob">
        <div class="row">
            {% for i in jobdata %}
            <div class="col-sm-12 job-card mt-3 mb-3">
                <div class="card card-table">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-2 col-6">
                                <div class="logo">
                                    <img src="/{{i.PostedBy.employeermodel.CompanyLogo}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-10 col-6 job-title">
                                <h3>{{i.JobTitle}}</h3>
                                <button>{{i.ExperienceLevel}}</button>
                                <p>{{i.PostedBy.employeermodel.CompanyName}}</p>
                                <p><i class="fas fa-map-marker-alt"></i> {{i.PostedBy.employeermodel.CompanyAddress}}</p>
                                <span><i class="fas fa-calendar-check"></i><strong> Posted On:</strong> {{i.Created_at}}</span>
                                <span><i class="fas fa-clock"></i><strong> Deadline:</strong> {{i.Deadline}}</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <p>{{i.JobSummary}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div>
                            <span href="" class="btn-rounded alert-primary"><i class="fas fa-briefcase"></i> {{i.JobType}}</span>
                            {% if i.Salary == 'Negotiable'  %}
                            <span class="btn-rounded alert-info"><i class="fas fa-money-bill-alt"></i> <strong>Salary:</strong> {{i.Salary}}</span>
                            {% else %}
                            <span class="btn-rounded alert-info"><i class="fas fa-money-bill-alt"></i> <strong>Salary:</strong> {{i.Salary}} BDT</span>
                                
                            {% endif %}
                            <span class="btn-rounded alert-warning"><i class="fas fa-flag"></i> {{i.ExperienceLevel}}</span>
                            <span class="btn-rounded alert-success"><i class="fas fa-user-plus"></i> {{i.TotalVacancy}}</span>
                            <a href="{% url 'viewjob' i.id %}" class="btn-rounded btn-info"><i class="fas fa-eye"></i> View</a>
                            
                            {% if user.is_authenticated %}
                            <a href="{% url 'editjob' i.id %}" class="btn-rounded btn-success"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <a href="{% url 'deletejob' i.id %}" class="btn-rounded btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                            {% endif %}
                                
                        </div>
                        <div>
                            <a href="" class="btn-rounded btn-primary"><i class="fas fa-hand-pointer"></i> Apply Now</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}
    